@typeparam Titem

@if (MyList is null)
{
    @if (Loading is null)
    {
        <div class="align-items-center">
            <img src="https://i.gifer.com/origin/34/34338d26023e5515f6cc8969aa027bca_w200.gif" />
        </div>
    }
    else
    {
        @Loading
    }
}
else if (MyList.Count == 0)
{
    @if (NoRecords is null)
    {
        <p>No hay registros para mostrar.</p>
    }
    else
    {
        @NoRecords
    }
}
else
{
    if (Records is not null)
    {
        @foreach (var item in MyList)
        {
            @Records(item)
        }
    }
    else
    {
        @RecordsComplete
    }

}

@code {
    [Parameter]
    public RenderFragment Loading { get; set; } = null!;

    [Parameter]
    public RenderFragment NoRecords { get; set; } = null!;

    [Parameter]
    public RenderFragment<Titem> Records { get; set; } = null!;

    [Parameter]
    public RenderFragment RecordsComplete { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public List<Titem> MyList { get; set; } = null!;
}
